<div class="container">

    <div class="arrowContainer">
        <button class="btn" (click)="goToCatalogue()">
            Catalogue
        </button>

        <button class="btn" (click)="goToLogin()">
            Log out
        </button>
    </div>

    <div class="gridContainer" >
        
        <button class="cardOuterBody" *ngFor="let pokemon of pokemons">
            <p>{{pokemon.name}}</p>
            <img [src]="pokemon.sprites?.front_default" class="imgPokemon">
        </button>
    </div>

    
</div>