
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:  100vh ;
    width: 100vw;
    background-image: url(src\assets\pictures\catalogue.jpg);
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
}

.cardOuterBody{
    padding:  0.75rem 1.25rem ;
    background-color:  #eceff1 ;
    border :  1px solid #eceff1 ;
    
    border-radius:  .25rem ;
    display:  flex ;
    flex-direction:  column ;
    align-items :  center ;
    margin:  10px;
    opacity: 0.7;
    height: 90%;
    width: 50%;
    font-size: 20px;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: left;
    font-weight: 300;
    text-transform: capitalize;
   
    
    
}

.gridContainer{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    min-width: 400px;
}

.gridContainerSecond{
    display: grid;
    grid-template-columns: 2fr 2fr;
    min-width: 400px;
}

.gridContainerMoves{
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
}

.gridItem{
  padding: 20px;
  text-align: center;

}

.cardInnerBody{
    background-color:  #fff ;
    background-clip:  border-box ;
    border:  1px solid rgba(0,0,0,.125);
    border-radius:  .25rem ;
    margin-top :  5px ;
    margin-bottom: 5px;
    outline:  none ;    
    overflow:  auto ;
    width : 100% ;
    height : 10%
}

.btn{
    margin :  10px;
    font-size:  1rem ;
    line-height:  1.5 ;
    border-radius:  .25rem ;
    color: #000000;
    background-color:  #fff ;
    padding: 1px 2px 1px 2px;
    border:  1px solid rgba(0,0,0,.125);
    opacity: 0.7;
    width :  100% ;
    height :  50%;
    box-sizing: content-box   
}

.hidden{
    visibility: hidden;
}