<div class="container">
    <div class="cardOuterBody" >


        <div class="gridContainerSecond">
            <h1>{{pokemon.name}}</h1>
            
            <img [src]="pokemon.sprites?.front_default" class="imgPokemon" >
        </div>

        <td>Types</td>
        <div class="gridContainerMoves">
            <td class="grid-item"  *ngFor="let type of pokemon.types">{{type.type.name  + '&nbsp;'}}</td>
        </div>
        

        <div class="gridContainer" *ngFor="let stat of pokemon.stats" >
            <td>{{stat.stat.name}}</td>
            <h1> </h1>
            <td>{{stat.base_stat}}</td>
        </div>

        <div class="gridContainer" >
            <td>Base experience</td>
            <h1> </h1>
            <td>{{pokemon.base_experience}}</td>
        </div>

        <div class="gridContainer" >
            <td>Height</td>
            <h1> </h1>
            <td>{{pokemon.height}}</td>
        </div>

        <div class="gridContainer" >
            <td>Weight</td>
            <h1> </h1>
            <td>{{pokemon.weight}}</td>
        </div>

        <td>Abilities</td>
        <div class="gridContainerMoves">
            <td class="grid-item" *ngFor="let ability of pokemon.abilities">{{ability.ability.name + '&nbsp;'}}</td>
        </div>
        
        
        <td>Moves</td>
        <div class="gridContainerMoves">
            <td class="grid-item" *ngFor="let move of pokemon.moves?.slice(0,4)">{{move.move.name + '&nbsp;'}}</td>
        </div>
       

       
        
        
        
        
        <button class="btn" (click)="collectPokemon()"  [ngClass]="{'hidden' :  this.collected}" >Collect</button>
        
        <button class="btn" (click)="goToTrainer()"  >Trainer</button>
        <button class="btn" (click)="returnToCatalogue()"  >Back</button>
     
        




     
        






        
            
        




        

        

        


    </div>

</div>
