<div class="container">
    <div class="cardOuterBody">
        
        <h1>PoKéMoN</h1>
        <input type="text" class="cardInnerBody" placeholder="Trainer Name" (change)="onNameChange($event)" />
        <button class="btn" (click)="onLoginClick()" >START </button>

    </div>
</div>
