.container{
    display: flex;
    flex-direction:  column ;
    align-items :  center ;
    height:  100vh ;
    width: 100vw;
    background-image: url(src\assets\pictures\poke-back.png);
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
}

.cardOuterBody{
    padding:  0.75rem 1.25rem ;
    background-color:  #eceff1 ;
    border :  1px solid #eceff1 ;
    width:  30vw ;
    height:  65vh ;
    border-radius:  .25rem ;
    display:  flex ;
    flex-direction:  column ;
    align-items :  center ;
    justify-content :  center ;
    margin-top:  30px;
    opacity: 0.7;
}

.flexInner {
    flex-direction:  column ;
    display:  flex 
}

.cardInnerBody{
    background-color:  #fff ;
    background-clip:  border-box ;
    border:  1px solid rgba(0,0,0,.125);
    border-radius:  .25rem ;
    margin-top :  5px ;
    margin-bottom: 5px;
    outline:  none ;
    overflow:  auto ;
    width : 100% ;
    height : 10%
}


.btn{
    margin-top :  5px ;
    margin-bottom: 5px;
    font-size:  1rem ;
    line-height:  1.5 ;
    border-radius:  .25rem ;
    color: #000000;
    background-color:  #fff ;
    padding: 1px 2px 1px 2px;
    border:  1px solid rgba(0,0,0,.125);
    opacity: 0.7;
    width :  100% ;
    height :  10%;
    box-sizing: content-box
    
}