<div class="container">

    <div class="arrowContainer">
        <button class="btnLeft" (click)="clickLeft()" [ngClass]="{'hidden' : pokemons[0] && pokemons[0].id == 1}">
            <img src="assets\pictures\left-arrow.png" class="imgArrow" >
        </button>

        <button class="btn" (click)="goToTrainer()">
            Trainer
        </button>
        
        <button class="btnRight" (click)="clickRight()">
            <img src="assets\pictures\rightarrow.png" class="imgArrow" >
        </button>
    </div>

    <div class="gridContainer" >
        <button class="cardOuterBody" *ngFor="let pokemon of pokemons" (click)="goToDetail(pokemon.id)">
            <p>{{pokemon.name.substring(0,1).toUpperCase()+pokemon.name.substring(1)}}</p>
            <img [src]="pokemon.image" class="imgPokemon" >
        </button>
    </div>

</div>