.container{
    display: flex;
    flex-direction: column;
    height:  100vh ;
    width: 100vw;
    background-image: url(src\assets\pictures\catalogue.jpg);
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
}

.arrowContainer{
    display: flex;
    justify-content: space-between;
}

.gridContainer{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.cardOuterBody{
    padding:  0.75rem 1.25rem ;
    background-color:  #eceff1 ;
    border :  1px solid #eceff1 ;
    font-size: 25px;
    font-weight: bold;
    border-radius:  .25rem ;
    display:  flex ;
    flex-direction:  row ;
    align-items :  center ;
    justify-content :  space-between ;
    margin:  10px;
    opacity: 0.7;
}

.flexInner {
    flex-direction:  column ;
    display:  flex 
}

.cardInnerBody{
    background-color:  #fff ;
    background-clip:  border-box ;
    border:  1px solid rgba(0,0,0,.125);
    border-radius:  .25rem ;
    margin-top :  5px ;
    margin-bottom: 5px;
    outline:  none ;
    overflow:  auto ;
    width : 100% ;
    height : 10%
}

.btnLeft{
    background-color: transparent;
    margin: 5px;
    border: none;   
    cursor:pointer;
    vertical-align: middle;
    max-width: 55px;
    max-height: 30px;

}

.btnRight{
    background-color: transparent;
    margin: 5px;
    border: none;   
    cursor:pointer;
    vertical-align: middle;
    max-width: 55px;
    max-height: 30px;

}

.imgArrow{
    max-width: inherit;
    max-height: inherit;
}

.imgPokemon{
    display: flex;
    max-width: inherit;
    max-height: inherit;

}

.hidden{
    visibility: hidden;
}


.btn{
    margin: 5px;
    font-size:  1rem ;
    line-height:  1.5 ;
    border-radius:  .25rem ;
    color: #000000;
    background-color:  #fff ;
    padding: 1px 2px 1px 2px;
    border:  1px solid rgba(0,0,0,.125);
    opacity: 0.7;
    width :  20% ;
    height :  70%;
    box-sizing: content-box
    
}